name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.x
    - name: Install pulseaudio
      run: sudo apt-get update; sudo apt-get install -y pulseaudio
    - name: Test
      run: make test
    - name: Lint
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin # will be removed
        make lint
